/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "partials/variables";
@import "partials/mixins";
@import "partials/grid";
@import "partials/layout";
@import "../vendor/nprogress";

.nav-container {
  position: fixed;
  width: 100%;
  .nav-item {
    display: inline-block;
  }
  &.hide {
    display: none;
  }
}

.nav-top {
  padding: 15px 0;
  text-align: center;
  width: 100%;
  .home-link {
    float: left;
  }
  .portal-link {
    float: right;
  }
  .search {
    display: inline-block;
  }
}

.nav-breadcrumb {
  width: 100%;
}

.home {
  color: $gray-84;
  .jumbotron {
    background: $gray-06;
    margin-bottom: 60px;
    min-height: 300px;
    padding: 40px 0;
    text-align: center;
    .title {
      font-family: Roboto Slab, Arial, sans-serif;
      font-size: 30px;
      position: relative;
    }
  }
}

.week-container {
  border: 1px solid $gray-24;
  border-radius: 2px;
  cursor: pointer;
  margin: 20px auto;
  max-width: 600px;
  padding: 20px;
  &:hover {
    border-color: $gray-48;
  }
  .title {
    font-family: Roboto Slab;
    font-size: $f-size-xl;
    margin-bottom: 10px;
  }
  .week {
    color: $gray-60;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  .description {
    font-size: $f-size-md;
    line-height: $f-size-xl;
  }
}

.article {
  max-width: 700px;
  padding-top: 80px;
  padding-bottom: 40px;
  .title-container {
    margin: 40px auto;
    .title {
      color: $gray-84;
      font-family: $serif;
      font-size: 36px;
      font-weight: 700;
    }
    .week {
      color: $gray-72;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
  }
}
