// Import Fonts

// Sans-Serif (Roboto Slab)
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700,100);

// Serif (Roboto)
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
  box-sizing: border-box;
}

html, body {
  font-family: Roboto, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 991px;
}
