$gray                           : #2C3E50;
$gray-84                        : rgba($gray, 0.84);
$gray-72                        : rgba($gray, 0.72);
$gray-60                        : rgba($gray, 0.60);
$gray-48                        : rgba($gray, 0.48);
$gray-36                        : rgba($gray, 0.36);
$gray-24                        : rgba($gray, 0.24);
$gray-12                        : rgba($gray, 0.12);
